<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
</head>

<body style="background-color: #f1f1f1; padding-bottom: 0">

<div th:insert="~{header :: nav}"></div>

<div class="container">
<table class="table table-striped">
    <!--/*@thymesVar id="users" type="java"*/-->
    <thead>
        <tr>
            <th>Username</th>
            <th>Face</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tr th:each = "u:${users}">
        <td></td>
<!--        <td><img height="40px" th:src="../../img/category/${u.username}.jpg"></td>-->
        <td><a th:text="${u.username}" th:href="@{'/admin/users/' + ${u.username}}"></a></td>
        <td><a th:href="@{'/admin/users/'+${u.username}+'/edit'} ">Edit</a></td>
        <td><a th:href="@{'/admin/users/' + ${u.username}}"></a></td>
    </tr>
</table>
</div>
</body>
</html>